body{
    margin: 0 20px;
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Inter", sans-serif;
}

.container{
    padding: calc(20vw - 500px);
}

img{
    width: 100%;
    box-sizing: border-box;
}

.support{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 80px;
}

.support-title{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color: var(--black);
    gap: 30px;
}

.support-dscr{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
    gap: 20px;
}

.support-dscr-main{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: var(--black);
    gap: 30px;
}

.support-projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: auto;
    margin-top: 20px;
}

.projects-number{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    color: var(--black);
    margin-bottom: 5px;
}

.projects-dscr{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
}

.video-and-after-container{
    margin-top: 30px;
    margin-bottom: 20px;
}

.video {
    position: relative;
  
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.65);
      border-radius: 10px;
    }
  }
  
  .video-player{
    display: block;
    width: 100%;
}
  
.button-player{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
    background: none;
    border: none;
  
    &:hover, &:focus{
      opacity: 0.7em;
      cursor: pointer;
    }
}

.button-icon{
    position: absolute;
    top: 8%;
    left: 93%;
    translate: -50% -50%;
    z-index: 5;
    background: none;
    border: none;
  
    &:hover, &:focus{
      opacity: 0.7em;
      cursor: pointer;
    }
}

.icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    left: 95%;
    bottom: 95%;
    z-index: 4;
    background: none;
    border: none;
      
    &:hover, &:focus{
      opacity: 0.7em;
    }
}
 
.player{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    top: 90%;
    bottom: 2px;
    z-index: 3;
    background: none;
    border: none;
      
    &:hover, &:focus{
      opacity: 0.7em;
    }
}

.title-after-video{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: var(--black);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}

.dscr-after-video{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}

.button-after-video{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;
}

.button-after-video-yellow{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    gap: 10px;
    background: var(--yellow);
    border-radius: 100px;
    padding: 15px 68px;
    width: 224px;
    height: 53px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--black);
    margin-right: 10px;
    margin-left: auto;
}

.button-after-video-white{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: 1px solid var(--black);
    border-radius: 100px;
    padding: 15px 68px;
    margin-left: 5px;
    width: 221px;
    height: 53px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--black);
    margin-right: auto;
}