:root {
	--white: #fff;
	--black: #333;
	--yellow: #ffe711;
	--blue: #1a7df0;
	--blue-dark: #005bc5;
}

:root {
    --font-family: "Raleway", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Inter", sans-serif;
}